body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    overflow-y: auto;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.contenedor {
    display: flex;
    width: 100%;
    min-height: 300px;
}


.general {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.recuadro {
    width: 150px;
    background: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 5px #aaa;
    border-radius: 5px;
}

.recuadro img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.recuadro input {
    width: 80%;
    margin-top: 5px;
}

.lateral {
    width: 25%;
    background: #eeeeee;
    padding: 10px;
    border-left: 2px solid #ccc;
    overflow-y: auto;
}

.linea {
    background: white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.resaltado {
    background-color: #ffe7a1;
}


.formulario {
    background: white;
    padding: 20px;
    margin-top: 15px;
    box-shadow: 0 0 5px #ccc;
}

.formulario button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}
